@charset "utf-8";

.wid
{width:50%;}

.b
{color:#090909;
font-family:roboto;
font-weight:bold;}

.d
{color:#ff9800;
font-family:roboto;
font-weight:bold;}

.m
{color:#ffaf58;
font-family:roboto;
font-size:30px;}

.n
{color:#0399ef;
font-family:roboto;
font-size:30px;}

.c
{color:#090909;
font-family:roboto;
font-size:20px;
}

.fot
{background-color:#000507;
color:#ffffff; 
text-align:center;
}


/**************************Media Query***************/


@media only screen and (max-width:768px)
{

.dip
{
display:none;
}